<div class="content">
  <div class="content-head">
    <div class="description">
      {{ data.description }}
    </div>
    <div class="stats">
      {{ data.stats }}
    </div>
  </div>
  <div class="image-container">
    <div class="stat-container">
      <img class="stretched-img" src="assets/mood.svg" alt="Mood Icon" />
      <div class="progress-container"><div class="progress"></div></div>
    </div>
    <div class="stat-container">
      <img class="stretched-img" src="assets/paid.svg" alt="Paid Icon" />
      <div class="progress-container"><div class="progress"></div></div>
    </div>
    <div class="stat-container">
      <img
        class="stretched-img"
        src="assets/apartment.svg"
        alt="Apartment Icon"
      />
      <div class="progress-container"><div class="progress"></div></div>
    </div>
    <div class="stat-container">
      <img
        class="stretched-img"
        src="assets/security.svg"
        alt="Security Icon"
      />
      <div class="progress-container"><div class="progress"></div></div>
    </div>
  </div>
  <div class="content-body">
    <tabset class="tabset">
      <tab heading="Decisions">
        <div class="body-controls">
          <div>
            <div class="decision">{{ data.decision1 }}</div>
            <div class="decision">{{ data.decision2 }}</div>
          </div>
          <div>
            <div class="decision">{{ data.decision3 }}</div>
            <div class="decision">{{ data.decision4 }}</div>
          </div>
        </div>
      </tab>
      <tab heading="Map"></tab>
    </tabset>
  </div>
</div>
