<div class="content">

  <div class="days-container">
    <div>Day Number {{statsService.day()}}</div>
    <div>Round number {{statsService.round()}}</div>
  </div>

  <div class="content-head">
    <div class="description">
      {{ data.description }}
    </div>
    <div class="stats">
      {{ statsService.stats() }}
    </div>
  </div>
  <div class="image-container">
    <div class="stat-container">
      <img class="stretched-img" src="assets/mood.svg" alt="Mood Icon" />
      <div class="value">{{statsService.stats().morale}}</div>
      <div class="progress-container">
        <div class="progress p-morale" [ngStyle]="{ 'width': statsService.stats().morale + '%' }"></div>
      </div>
    </div>
    <div class="stat-container">
      <img class="stretched-img" src="assets/paid.svg" alt="Paid Icon" />
      <div class="value">{{statsService.stats().budget}}</div>
      <div class="progress-container">
        <div class="progress p-budget" [ngStyle]="{ 'width': statsService.stats().budget + '%' }"></div>
      </div>
    </div>
    <div class="stat-container">
      <img class="stretched-img" src="assets/apartment.svg" alt="Apartment Icon" />
      <div class="value">{{statsService.stats().infrastructure}}</div>
      <div class="progress-container">
        <div class="progress p-infrastructure" [ngStyle]="{ 'width': statsService.stats().infrastructure + '%' }"></div>
      </div>
    </div>
    <div class="stat-container">
      <img class="stretched-img" src="assets/security.svg" alt="Security Icon" />
      <div class="value">{{statsService.stats().safety}}</div>
      <div class="progress-container">
        <div class="progress p-safety" [ngStyle]="{ 'width': statsService.stats().safety + '%' }"></div>
      </div>
    </div>
  </div>
  <div class="content-body">
    <tabset class="tabset">
      <tab heading="Decisions">
        <div class="body-controls">
          <div>
            <div class="decision">{{ data.decision1 }}</div>
            <div class="decision">{{ data.decision2 }}</div>
          </div>
          <div>
            <div class="decision">{{ data.decision3 }}</div>
            <div class="decision">{{ data.decision4 }}</div>
          </div>
        </div>
        <div class="button-wrapper">
          <button mat-flat-button>Next</button>
        </div>
      </tab>
      <tab heading="Map">
        <app-map></app-map>
      </tab>
    </tabset>
  </div>
</div>
