<div class="stats-dialog">
    <h2>Statystyki</h2>
     
    <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <img src="assets/chart.png" alt="Description of the image"></div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <img src="assets/assetstemperatura.png" alt="Description of the image">
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <img src="assets/wilgotnosc_gleby.png" alt="Description of the image">
        </div>
      </div> -->

      <tabset class="tabset">
        <tab heading="Decisions">
          1
        </tab>
        <tab heading="Decisions2">
          2
        </tab>
        <tab heading="Decisions3">3
        </tab>
          </tabset>
       

  </div>