.statistics-header {
  text-align: center;
  margin-bottom: 20px;

  h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
}

.chart-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.chart {
  width: 300px;
  margin: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

h3 {
  text-align: center;
}
