<div class="modal-content" (click)="closeModal()">
    <div class="text-content">
        <h3>Introduction for players</h3>
        <div class="tutorial-icon"><img class="stretched-img" src="assets/weather_forecast.png" alt="Weather Forecast" /><span>Weather Forecast - Data that allows you to deepen your knowledge of a given scenario, analyze data and make decisions based on it.</span></div>
        <div class="tutorial-icon"><img class="stretched-img" src="assets/mood.svg" alt="Mood Icon" /><span>Morale is responsible for overall satisfaction depending on the scenario of the group or person. It is influenced by things related to individuals for deterioration or improvement.</span></div>
        <div class="tutorial-icon"><img class="stretched-img" src="assets/paid.svg" alt="Paid Icon"/><span>The budget represents the money resources available. It can be influenced by decisions that may cost or save money for some activity.</span></div>
        <div class="tutorial-icon"><img class="stretched-img" src="assets/apartment.svg" alt="Apartment Icon"/><span>Insfrastructure is responsible for buildings, objects and things that are valuable, can be influenced by decisions to expand or spending an item.</span></div>
        <div class="tutorial-icon"><img class="stretched-img" src="assets/security.svg" alt="Security Icon"/><span>Security is the level of protection of a given area or hazard scenario, it allows you to estimate how much you are at risk of a disaster, it is influenced by decisions related to the element.</span></div>
    </div>
    <div class="modal-controls">
      <h2 (click)="closeModal()" class="pointer continue-button">
        Click to continue
      </h2>
    </div>
  </div>
  