<div class="modal-content" (click)="closeModal()">
    <div class="text-content">
      <div class="tutorial-icon"><img class="stretched-img" src="assets/paid.svg" alt="Paid Icon"/><span>Jakas ikona 1</span></div>
      <div class="tutorial-icon"><img class="stretched-img" src="assets/apartment.svg" alt="Apartment Icon"/><span>Jakas ikona 2</span></div>
      <div class="tutorial-icon"><img class="stretched-img" src="assets/security.svg" alt="Security Icon"/><span>Jakas ikona 3</span></div>
      <div class="tutorial-icon"><img class="stretched-img" src="assets/mood.svg" alt="Mood Icon" /><span>Jakas ikona 4</span></div>
    </div>
    <div class="modal-controls">
      <h2 (click)="closeModal()" class="pointer continue-button">
        Click to continue..
      </h2>
    </div>
  </div>
  