<!-- <div class="logo-container">
  <a routerLink="/home">
    <img src="/assets/nasa-logo.png" alt="NASA Logo" class="nasa-logo aligned-logo">
  </a>
</div> -->
<nav class="navbar">
  <ul>
    <li><a (click)="goToHOME()">Home</a></li>
    <li><a href="/{{RouterEnum.NASA_INFORMATION}}">Nasa Information</a></li>
    <li><a href="/{{RouterEnum.SOLUTIONS}}">Solutions</a></li>
    <li><a href="/{{RouterEnum.COMMUNITY}}">Community</a></li>
    <li><a href="/{{RouterEnum.RESOURCES}}">Resources</a></li>
    <li><a href="/{{RouterEnum.CONTACT}}">Contact</a></li>
  </ul>
</nav>
