<!-- <div class="logo-container">
  <a routerLink="/home">
    <img src="/assets/nasa-logo.png" alt="NASA Logo" class="nasa-logo aligned-logo">
  </a>
</div> -->
<nav class="navbar">
  <ul>
    <li><a  (click)="goToHOME()" >Home</a></li>
    <li><a routerLink="/nasa-information">Nasa Information</a></li>
    <li><a routerLink="/solutions">Solutions</a></li>
    <li><a routerLink="/community">Community</a></li>
    <li><a routerLink="/resources">Resources</a></li>
    <li><a routerLink="/contact">Contact</a></li>
  </ul>
</nav>