@if (isLoading) {
  <app-spinner></app-spinner>
}
<div class="container-fluid">
  <div id="map" class="map"></div> <!-- Leaflet map container -->
</div>

@if(!selectedEvent) {
  <div class="legend">
    <h5>Legend</h5>
    <div style="text-align: left">
      <ul>
        <li>
          <div class="circle green"></div> - available
        </li>
        <li>
          <div class="circle red"></div> - unavailable
        </li>
        <li>
          <div class="circle purple"></div> - selected
        </li>
      </ul>
    </div>
  </div>
}

@if(selectedEvent) {
  <div class="event-details">
    <div class="event-description">
      <h2>{{ selectedEvent.title }}</h2>
      <p><strong>Category:</strong> {{ selectedEvent.categories[0].title }}</p>
      <p>{{ selectedEvent.description }}</p>
      <p><a target="_blank" href="{{ selectedEvent.sources[0].url }}">{{ selectedEvent.sources[0].url }}</a></p>
      <p><strong>Date:</strong> {{ selectedEvent.geometries[0].date }}</p>
      <p><strong>Link:</strong> <a href="{{ selectedEvent.link }}" target="_blank">Show more</a></p>

      @if(selectedEvent.geometries[0].isGame) {
        <div>
          <button mat-flat-button (click)="startGame()">Play</button>
          <button class="button" mat-flat-button routerLink="/{{RouterEnum.Statistics}}">Statistics</button>
          <button type="button" class="button btn btn-danger" (click)="closeEventDetails()">Close</button>
        </div>
      } @else {
        <div>
          <button type="button" class="button btn btn-danger" (click)="closeEventDetails()">Close</button>
        </div>
      }
    </div>
    @if(selectedEvent.geometries[0].isGame) {
      <img src="assets/flood1.jpg" class="event-image">
    }
  </div>
}
