<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="/assets/planet-not-found.jpg" alt="Planet not found">
        <h1>Planet not found</h1>
        <p>In the vast expanse of the cosmos, there lies a planet yet to be discovered. This mysterious world, hidden in
          the far reaches of our solar system, remains unseen by our telescopes and untouched by our probes. Astronomers
          predict that this planet, which they have tentatively named “Planet X,” will one day be revealed through the
          advancements of future technology.</p>
      </div>
    </div>
  </div>
</div>
