.main-container {
  color: black;
  text-align: center;
  min-height: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 3em;
  font-weight: bold;
}
p {
  font-size: 1.5em;
  font-weight: bold;
}

img {
  width: 30%;
}
