<!-- mapclickinfo.component.html -->
<div class="container mt-5" style="--bs-bg-opacity: .5; padding:50px;">
    <h2>Create your own adventure</h2>
    <form>
      <div class="mb-3">
        <label for="adventureType" class="form-label">Adventure Type</label>
        <select class="form-select" id="adventureType">
          <option selected>Choose...</option>
          <option value="Simulation">Simulation</option>
          <option value="Realistic adventure">Realistic adventure</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="persona" class="form-label">Persona</label>
        <select class="form-select" id="persona">
          <option selected>Choose...</option>
          <option value="Low income">Low income</option>
          <option value="Middle income">Middle income</option>
          <option value="High income">High income</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="simulationType" class="form-label">Simulation Type</label>
        <select class="form-select" id="simulationType">
          <option selected>Choose...</option>
          <option value="Flood">Flood</option>
          <option value="Fires">Fires</option>
          <option value="Earthquakes">Earthquakes</option>
          <option value="Hurricanes">Hurricanes</option>
        </select>
      </div>
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-secondary me-2">Cancel</button>
        <button type="button" class="btn btn-primary">Start</button>
      </div>
    </form>
</div>
