<!-- mapclickinfo.component.html -->
<div class="container mt-5" style="--bs-bg-opacity: .5; padding:50px;"  >
    <h2>Stwórz własną przygodę</h2>
    <form>
      <div class="mb-3">
        <label for="adventureType" class="form-label">Typ przygody</label>
        <select class="form-select" id="adventureType">
          <option selected>Wybierz...</option>
          <option value="Symulacja">Symulacja</option>
          <option value="Realistyczna przygoda">Realistyczna przygoda</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="persona" class="form-label">Persona</label>
        <select class="form-select" id="persona">
          <option selected>Wybierz...</option>
          <option value="Mało zamożna">Mało zamożna</option>
          <option value="Średnio zamożna">Średnio zamożna</option>
          <option value="Bardzo zamożna">Bardzo zamożna</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="simulationType" class="form-label">Typ symulacji</label>
        <select class="form-select" id="simulationType">
          <option selected>Wybierz...</option>
          <option value="Powódź">Powódź</option>
          <option value="Pożary">Pożary</option>
          <option value="Trzęsienia ziemi">Trzęsienia ziemi</option>
          <option value="Huragany">Huragany</option>
        </select>
      </div>
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-secondary me-2">Anuluj</button>
        <button type="button" class="btn btn-primary">Rozpocznij</button>
      </div>
    </form>
  </div>