:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background: rgba(20, 20, 20, 0.6);
  color: #fff;

  .text-content {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    // width: 70%;
    p {
      font-size: 32px;
      margin: 12px;
      white-space: wrap;
      overflow: hidden;
      max-width: 80vw;
      // border-right: 2px solid orange;
      width: 0;
      // height: 40px;

      line-height: 2.25rem;
      animation: typing 1.5s steps(40, end), caret 0.75s step-end infinite;
      animation-fill-mode: forwards;
    }
  }

  .modal-controls {
    display: flex;
    justify-content: center;
    width: 100%;

    h2 {
      cursor: pointer;
      justify-self: end;
      
    }
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}


.modal-content .text-content p:nth-child(1) {
  animation-delay: 0s;
}

.modal-content .text-content p:nth-child(2) {
  animation-delay: 2s;
}

.modal-content .text-content p:nth-child(3) {
  animation-delay: 4s;
}

.modal-content .text-content p:nth-child(4) {
  animation-delay: 6s;
}
